In [1]:
#산업·데이터공학과 C521069 최용비 과제 1번 - 데이터 유형

In [2]:
#데이터 유형의 종류
## 1. 숫자(number): 수치형 데이터, 정수형(int), 실수형(float), 복소수형(complex) - 123, 123.45, 123+45j
## 2. 문자열(string): 문자 또는 문자의 집합, 단일 따옴표(') 또는 이중 따옴표(")로 묶음 --- ex) 'abc', "abc"
## 3. 리스트(list): 다양한 타입의 데이터 목록 --- ex) ['abc, 123]
## 4. 튜플(tuple): 다양한 타입의 데이터 목록, 리스트와 유사하지만 원소의 변경이 불가능함 --- ex) ('abc', 123)
## 5. 딕셔너리(dictionary): 키(key)와 값(value)의 쌍으로 이루어진 데이터, 중괄호({})로 묶음 --- ex) {'이름':'최용비', '학번':'C521069', 'id':1234}
## 6. 집합(set): 중복되지 않는 데이터의 집합, 중괄호({})로 묶음 --- ex) {1, 2, 3, 4, 5}
## 7. 불린(boolean): 참(True)과 거짓(False)으로 이루어진 데이터 --- ex) True, False
## 8. None: 아무것도 없는 데이터 --- ex) None

In [3]:
#데이터 유형의 확인

## 1. x_value에 정수 12345를 할당
x_value = 12345

## 2. x_value의 값과 자료형을 출력
print(f'{x_value = }\n{type(x_value) = }')

    ### x_value의 유형은 클래스(class)'int'임. 즉, 객체(object)임.

x_value = 12345
type(x_value) = <class 'int'>

In [4]:
## 1. x_str에 문자열 'abcde'를 할당
x_str = 'abcde'

## 2. x_str의 값과 자료형을 출력
print(f'{x_str = }\n{type(x_str) = }')

x_str = 'abcde'
type(x_str) = <class 'str'>

In [5]:
## 1. x_list에 x_str과 x_value를 원소로 갖는 리스트를 할당
x_list = [x_str, x_value]

## 2. x_list의 값과 자료형을 출력
print(f'{x_list = }\n{type(x_list) = }')

x_list = ['abcde', 12345]
type(x_list) = <class 'list'>

In [6]:
## 1. x_tuple에 x_str과 x_value를 원소로 갖는 튜플을 할당
x_tuple = (x_str, x_value)

## 2. x_tuple의 값과 자료형을 출력
print(f'{x_tuple = }\n{type(x_tuple) = }')

x_tuple = ('abcde', 12345)
type(x_tuple) = <class 'tuple'>

In [7]:
## 1. x_dict에 key가 '이름'과 '학번'과 'id' 이고 value가 '최용비'와 'C521069'와 1234인 딕셔너리를 할당
x_dict = {'이름': '최용비', '학번': 'C521069', 'id': 1234}

## 2. x_dict의 값과 자료형을 출력
print(f'{x_dict = }\n{type(x_dict) = }')

x_dict = {'이름': '최용비', '학번': 'C521069', 'id': 1234}
type(x_dict) = <class 'dict'>

In [8]:
## 1. x_none에 None을 할당
x_none = None

## 2. x_none의 값과 자료형을 출력
print(f'{x_none = }\n{type(x_none) = }')

x_none = None
type(x_none) = <class 'NoneType'>

In [9]:
#객체, 인스턴스, 클래스
    ## 객체(object): 실제로 존재하는 것. 책상, 의자, 자동차와 같은 사물들이 곧 객체임.
    ## 인스턴스(instance): 클래스로부터 만들어진 객체를 그 클래스의 인스턴스라고 함.
    ## 클래스(class): 객체를 만들기 위한 틀. 객체를 만들기 위한 설계도와 같은 것임.

In [10]:
#객체의 속성과 메소드 확인 방법

## 1. x_value의 속성과 메소드를 출력
print(f'{dir(x_value) = }')

dir(x_value) = ['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [11]:
## 2. x_value의 실수부(속성)를 출력
print(f'{x_value.real = }')

## 3. x_value의 비트 수를 계산(메서드)를 출력
print(f'{x_value.bit_length() = }')

x_value.real = 12345
x_value.bit_length() = 14

In [12]:
#mutable과 immutable
    ## 1. mutable: 원소의 수정이 가능한 자료형 --- ex) 리스트(list), 딕셔너리(dictionary)
    ## 2. immutable: 원소의 수정이 불가능한 자료형 --- ex) 문자열(string), 튜플(tuple)

In [13]:
#mutable: 리스트(list)
x_list = ['abcde', 12345]

## 1. 원소 변경전 x_list의 값을 출력
print(f'Before: {x_list = }')

## 2. 인덱스 1 원소를 'fghij'로 변경
x_list[1] = 'fghij'

## 3. 원소 변경 후 x_list의 값을 출력
print(f'After: {x_list = }')

Before: x_list = ['abcde', 12345]
After: x_list = ['abcde', 'fghij']

In [14]:
#mutable-2: 딕셔너리(dictionary)
x_dict = {'이름': '최용비', '학번': 'C521069', 'id': 1234}

## 1. 원소 변경전 x_dict의 값을 출력
print(f'Before: {x_dict = }')

## 2. '이름'의 값을 'ChoiYongBi'로 변경
x_dict['이름'] = 'ChoiYonbBi'

## 3. 원소 변경 후 x_dict의 값을 출력
print(f'After: {x_dict = }')

Before: x_dict = {'이름': '최용비', '학번': 'C521069', 'id': 1234}
After: x_dict = {'이름': 'ChoiYonbBi', '학번': 'C521069', 'id': 1234}

In [15]:
#immutable: 문자열(str) -> 원소 바꾸기 불가
    ## +) try~except 구문: 예외처리 구문으로, 오류가 발생할 경우 except 블록의 코드를 실행함.
x_str = 'abcde'

## 1. 원소 변경전 x_str의 값을 출력
print(f'Before: {x_str = }')

## 2. try블록 안의 코드를 실행하다가 에러가 발생하면 except 블록의 코드를 실행
try:
    x_str[1] = '2'#--> 인덱스 1 원소를 '2'로 변경. 문자열은 immutable 자료형이므로 에러 발생
except TypeError as e:#--> 에러 발생시 에러 메세지를 e에 할당
    print(f'Error: {e}')#--> 에러 메세지 출력

## 3. 원소 변경 후 x_str의 값을 출력
print(f'After: {x_str = }')

Before: x_str = 'abcde'
Error: 'str' object does not support item assignment
After: x_str = 'abcde'

In [16]:
#immutable-2: 튜플(tuple) -> 원소 바꾸기 불가
x_tuple = ('abcde', 12345)

## 1. 원소 변경전 x_tuple의 값을 출력
print(f'Before : {x_tuple = }')

## 2. try 블록 안의 코드를 실행하다가 에러가 발생하면 except 블록의 코드를 실행
try:
    x_tuple[1] ='fghij'#--> 인덱스 1 원소를 'fghij'로 변경. 튜플은 immutable 자료형이므로 에러 발생
except TypeError as e:
    print(f'Error : {e}')

## 3. 원소 변경 후 x_tuple의 값을 출력
print(f'After : {x_tuple = }')

Before : x_tuple = ('abcde', 12345)
Error : 'tuple' object does not support item assignment
After : x_tuple = ('abcde', 12345)

In [17]:
#자료형 변환 - 데이터의 유형을 변경하는 것

## 단일 자료형 변환 함수
### 1. int() : 정수형으로 변환
### 2. float() : 실수형으로 변환
### 3. str() : 문자열로 변환

In [18]:
## 1. var_x에 정수 12345를 할당
var_x = 12345

## 2. var_x의 값과 자료형을 출력
    ##마지막(end=)에 줄바꿈('\n')과 구분선('-' 30개) 그리고 줄바꿈('\n')을 추가
print(f'{var_x}는 {type(var_x)}', end='\n'+'-'*30+'\n') 

## 3. var_x의 값을 실수형으로 변환하여 var_y에 할당
var_y = float(var_x)

## 4. var_y의 값과 자료형을 출력
print(f'{var_y}는 {type(var_y)}', end='\n'+'-'*30+'\n')

## 5. var_x의 값을 문자열로 변환하여 var_y에 할당
var_y = str(var_x)

## 6. var_y의 값과 자료형을 출력
print(f'{var_y}는 {type(var_y)}', end='\n'+'-'*30+'\n')

## 7. var_x의 값을 불리언으로 변환하여 var_y에 할당
    ###정수 12345는 0이아니므로 True
var_y = bool(var_x)

## 8. var_y의 값과 자료형을 출력
print(f'{var_y}는 {type(var_y)}')

12345는 <class 'int'>
------------------------------
12345.0는 <class 'float'>
------------------------------
12345는 <class 'str'>
------------------------------
True는 <class 'bool'>

In [19]:
# iterable 자료형 변환 함수
 ## list() : 리스트로 변환
 ## tuple() : 튜플로 변환
 ## dict() : 딕셔너리로 변환
 ## set() : 집합으로 변환

## iterable 자료형은 반복 가능한 자료형을 의미
    ### 리스트, 튜플, 딕셔너리, 집합 등
    ### 문자열(str)은 문자의 배열이므로 iterable 자료형

# range() 함수
 ## range() 함수는 연속된 정수를 생성하는 함수로서 iterable 자료형을 반환
    ### range(시작, 끝, 증가폭)
    ### 시작은 포함, 끝은 미포함
    ### 증가폭은 생략 가능하며, 생략시 1로 설정

In [20]:
## 1. var_x에 -10부터 0 전까지 2씩 증가하는 range 객체를 할당
var_x = range(-10, 0, 2)

## 2. var_x의 값과 자료형을 출력
print(f'{var_x}는 {type(var_x)}', end='\n'+'-'*30+'\n')

## 3. var_y에 var_x의 값을 리스트로 변환하여 할당
var_y = list(var_x)

## 4. var_y의 값과 자료형을 출력
print(f'{var_y}는 {type(var_y)}',end='\n'+'-'*30+'\n')

## 5. var_y에 var_x를 튜플로 변환하여 할당
var_y = tuple(var_x)

## 6. var_y의 값과 자료형을 출력
print(f'{var_y}는 {type(var_y)}',end='\n'+'-'*30+'\n')

## 7. var_y에 var_x의 값을 집합으로 변환하여 할당
var_y = set(var_x)

## 8.var_y의 값과 자료형을 출력
print(f'{var_y}는 {type(var_y)}')

range(-10, 0, 2)는 <class 'range'>
------------------------------
[-10, -8, -6, -4, -2]는 <class 'list'>
------------------------------
(-10, -8, -6, -4, -2)는 <class 'tuple'>
------------------------------
{-10, -8, -6, -4, -2}는 <class 'set'>

In [21]:
## 1. var_x에 문자열 'choiyongbi'를 할당. 문자열은 iterable 자료형임
var_x = 'choiyongbi'

## 2. var_x의 값과 자료형을 출력
print(f'{var_x}는 {type(var_x)}', end='\n'+'-'*30+'\n')

## 3. var_y에 var_x의 값을 리스트로 변환하여 할당
var_y = list(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n'+'-'*30+'\n')

## 4. var_y에 var_x의 값을 튜플로 변환하여 할당
var_y = tuple(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n'+'-'*30+'\n')

## 5. var_y에 var_x의 값을 집합으로 변환하여 할당
    ### 집합은 중복을 허용하지 않으므로 'choiyngb'만 남음
var_y = set(var_x)
print(f'{var_y}는 {type(var_y)}')

choiyongbi는 <class 'str'>
------------------------------
['c', 'h', 'o', 'i', 'y', 'o', 'n', 'g', 'b', 'i']는 <class 'list'>
------------------------------
('c', 'h', 'o', 'i', 'y', 'o', 'n', 'g', 'b', 'i')는 <class 'tuple'>
------------------------------
{'b', 'c', 'h', 'y', 'o', 'n', 'g', 'i'}는 <class 'set'>

In [ ]:
# 1. 정보 딕셔너리 만들기

user_info = {
    "이름": input("이름을 입력하세요: "),
    "학번": input("학번을 입력하세요: "),
    "나이": int(input("나이를 입력하세요: "))
}

print(f"\n[학생 정보]\n이름: {user_info['이름']}\n학번: {user_info['학번']}\n나이: {user_info['나이']}세")
print(f"자료형: {type(user_info)}")

[학생 정보]
이름: 최용비
학번: C521069
나이: 20세
자료형: <class 'dict'>

In [3]:
# 2. 중복 제거한 과목 목록 집합 만들기

subjects = ["수학", "영어", "수학", "과학", "영어"]
unique_subjects = set(subjects)

print(f"중복 제거된 과목 목록: {unique_subjects}")
print(f"자료형: {type(unique_subjects)}")

중복 제거된 과목 목록: {'영어', '수학', '과학'}
자료형: <class 'set'>

In [4]:
# 3. 수강 과목을 튜플로 고정 저장하기

course_tuple = ("파이썬", "대학물리1", "대학화학1")
print("내가 수강한 과목:", course_tuple)
print(f"자료형: {type(course_tuple)}")

내가 수강한 과목: ('파이썬', '대학물리1', '대학화학1')
자료형: <class 'tuple'>

In [5]:
# 4. 문자열을 리스트와 집합으로 변환해보기

text = "banana"
char_list = list(text)
char_set = set(text)

print(f"리스트로 변환: {char_list}")
print(f"집합으로 변환 (중복 제거): {char_set}")

리스트로 변환: ['b', 'a', 'n', 'a', 'n', 'a']
집합으로 변환 (중복 제거): {'b', 'n', 'a'}

In [6]:
# 5. 정수에서 실수, 문자열, 불린으로 자료형 변환하기

num = 2025

print(float(num), type(float(num)))     # 실수형
print(str(num), type(str(num)))         # 문자열
print(bool(num), type(bool(num)))       # 불리언(True)

2025.0 <class 'float'>
2025 <class 'str'>
True <class 'bool'>

In [20]:
# 6. mutable vs immutable 직접 비교하기

# 리스트는 mutable
a_list = [1, 2, 3]
a_list[0] = 99
print(a_list)

# 튜플은 immutable (변경 시도 시 오류 발생)
a_tuple = (1, 2, 3)
try:
    a_tuple[0] = 99
except TypeError as e:
    print(f"튜플은 변경 불가: {e}")

[99, 2, 3]
튜플은 변경 불가: 'tuple' object does not support item assignment